extends ../layouts/main_private.pug

block title
  title="Home"

block link_css
  link(href="/public/styles/home.css", rel="stylesheet")

block content
  if posts.length == 0
    .no-posts
      p No posts yet — be the first one to post!
  .posts
    each post in posts
      .post.js-post(data-post-id=post._id)
        .header-grid
          img.author-icon(
            src= post.author.avatarSrc ? post.author.avatarSrc : "/public/images/default-avatar.png",
            alt="Profile"
          )
          .author-info
            .username #{post.author.username}
            .date #{post.dateFormatted}

        if (post.isAuthor)
          .delete-post
            button(class="delete-post-btn js-delete-post-btn")
              img(src="/public/images/trash-icon.png", alt="Delete Post")
            
        h2.post-title #{post.title}
        p.content #{post.content}
        if (post.photoURL)
          img.post-photo(src=post.photoURL)
        
        .post-actions
          button.like-btn.js-like-btn
            if (post.isLiked)
              img.like-img.js-like-img(src="/public/images/star-fill.png", alt="like")
            else
              img.like-img.js-like-img(src="/public/images/star.png", alt="like")

            .like-cnt.js-like-cnt #{post.likesCount || 0}
          button.comment-toggle-btn.js-comment-toggle-btn
            img.comment-img(src="/public/images/comment-icon.png", alt="comment")
            span #{post.commentsCount || 0}


  if (error)
    div.error-message #{error}

block scripts
  script(src="/public/scripts/home.js") 