extends ../layouts/main_private.pug

block title
  title="Profile"

block link_css
  link(href="/public/styles/profile.css", rel="stylesheet")

block content
  .profile-information.js-profile-information
    img.profile-icon-content(
      src= avatarSrc ? avatarSrc : "/public/images/default-avatar.png",
      alt="Profile"
    )

    form(class="upload-avatar-form" enctype="multipart/form-data" action="/profile/upload", method="post")
      input(id="avatar-input" class="js-avatar-input" type="file" name="avatar" value="upload" accept="image/png")
      button(id="avatar-btn" class="js-avatar-btn" type="button")
        img(src="/public/images/upload-icon.png", alt="Upload")
        
    h1.username-main.js-username-main #{username}
    if(desc)
      .description.js-description #{desc}
    else
      .description.js-description No description provided.
    
    form(class="edit-profile-form" action="/profile/update", method="post")
      input.username-input.js-username-input(type="text", name="username", placeholder="Username" required)
      textarea(name="desc", rows="5", cols="50") 
      button(type="submit") Save
      button(class="cancel-editing js-cancel-editing", type="button") Cancel

    button.edit-profile.js-edit-profile Edit profile

    button.change-password.js-change-password Change account password

    form(class="change-password-form" action="/profile/change-password", method="post")
      input.old-password-input.js-old-password-input(type="password", name="old_password", placeholder="Old password" required)
      input.new-password-input.js-new-password-input(type="password", name="new_password", placeholder="New password" required)
      button(type="submit") Save
      button(class="cancel-password js-cancel-password", type="button") Cancel

    a.logout-btn(href="/logout") Logout
    button.delete-profile.js-delete-profile Delete profile

    form(class="delete-profile-form" action="/profile/delete", method="post")
      h3 Are you sure to delete your profile?
      button(class="confirm-deleting" type="submit") Yes
      button(class="cancel-deleting js-cancel-deleting", type="button") Cancel
  
  if (error)
    div.error-message#error-message #{error}

block scripts
  script(src="/public/scripts/profile.js")
  if error
    script(src="/public/scripts/scrollToError.js")